################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/src/Suit.Supply.Core/bin/Debug/net6.0
/src/Suit.Supply.Core/obj/Debug/net6.0
/src/Suit.Supply.Core/obj
/src/Suit.Supply.Infrastructure/bin/Debug/net6.0
/src/Suit.Supply.Infrastructure/obj/Debug/net6.0
/src/Suit.Supply.Web/bin/Debug/net6.0
/src/Suit.Supply.Web/obj/Container
/src/Suit.Supply.Web/obj/Debug/net6.0
/src/Suit.Supply.Web/obj
/src/Suit.Supply.SharedKernel/bin/Debug/net6.0
/tests/Suit.Supply.FunctionalTest/bin/Debug/net6.0
/tests/Suit.Supply.FunctionalTest/obj
/tests/Suit.Supply.IntegrationTests/bin/Debug/net6.0
/tests/Suit.Supply.IntegrationTests/obj/Debug/net6.0
/tests/Suit.Supply.IntegrationTests/obj
/tests/Suit.Supply.UnitTests/bin/Debug/net6.0
/src/Suit.Supply.Infrastructure/obj
/src/Suit.Supply.Web/Suit.Supply.Web.csproj.user
/src/Suit.Supply.SharedKernel/obj/Debug/net6.0
/src/Suit.Supply.SharedKernel/obj
/src/Suit.Supply.Core/bin/Release/net6.0
/src/Suit.Supply.Infrastructure/bin/Release/net6.0
/src/Suit.Supply.SharedKernel/bin/Release/net6.0
/src/Suit.Supply.Web/bin/Release/net6.0
/tests/Suit.Supply.FunctionalTest/bin/Release/net6.0
/tests/Suit.Supply.IntegrationTests/bin/Release/net6.0
/tests/Suit.Supply.UnitTests/obj/Release/net6.0
/tests/Suit.Supply.UnitTests/bin/Release/net6.0
/src/Suit.Supply.Web/Properties/PublishProfiles
/tests/Suit.Supply.UnitTests/obj/Debug/net6.0
